<?xml version="1.0" encoding="UTF-8"?>


<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 

<servlet>
	<servlet-name>getHighScore</servlet-name>
	<servlet-class>com.score.highScore</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>getHighScore</servlet-name>
	<url-pattern>/getHighScore</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>scoreInsert</servlet-name>
	<servlet-class>com.score.scoreInsert</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>scoreInsert</servlet-name>
	<url-pattern>/insert</url-pattern>
</servlet-mapping>

</web-app>
</element>